#log_in{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: hsla(0, 0%, 48%, 0.192);
    border-radius: 5px;
    box-shadow: 0px 10px 20px grey;
}

#register{
    display: none;
}